[Unit]
Requires=local-fs.target
After=local-fs.target
Description=Skeleton Stick Password Manager

[Service]
ExecStart=/usr/bin/python3 -m skeleton_stick oled /boot/passwords.skst

[Install]
WantedBy=local-fs.target
